.scroll-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--color-bg-secondary-1);
  width: 2.5rem;
  height: 4rem;
  border-radius: 10rem;

  transition: all 0.2s ease-out;
  z-index: 10;

  cursor: pointer;

  @include respond(sm) {
    transform: scale(0.8);

    bottom: 2%;
  }

  &:hover {
    border: 2px solid var(--color-text-primary-1);
  }

  &:hover &--dot {
    background-color: var(--color-text-primary-1);
  }

  &--dot {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-bg-secondary-1);

    transition: all 0.2s ease-out;

    animation: animate-scroll-down-dot 1.2s ease infinite;
  }
}

@keyframes animate-scroll-down-dot {
  0% {
    opacity: 1;
    top: 30%;
  }
  100% {
    opacity: 0;
    top: 70%;
  }
}
